// fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

// vas
$mainColor:#E8B4AB;
$secondaryColor:#BEBED0;
$thirdColor:#F4D3D6;
$keyColor:#653E6F;
$white:#f2f0f3;
$dark:#323232;
$mainFont:"Nunito Sans";

// backgrounds
.bg-key{
    background-color: $keyColor;
}
.bg-gradient-1{
    background: linear-gradient(to bottom,  
        #BEBED0 0%,  
        #BEBED0 23%,  
        #E8B4AB 52%,  
        #F4D3D6 100%,  
    );
    background-size: cover;
    display: block;
}
// texts
*{
    font-family: $mainFont;
    font-optical-sizing: auto;
}
.text-key{
    color: $keyColor;
}
.text-dark{
    color:$dark!important;
}
// btns
.btn-key{
    background-image: linear-gradient(to bottom, $keyColor, deeppink);
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    text-align: center;
    border: none;
    border-radius:20px;
    text-transform: uppercase;
    font-size: 1em;
    width: 400px;
    transition: all ease .8s;
    letter-spacing: 3%;
    &:hover{
        background-image: linear-gradient(to bottom, deeppink, $keyColor);
        color: black;
    }
    @media (width <=419px){
        width: 320px;
    }
}
// body
body{
    background: url(../../img/bg-header.png) no-repeat;
    background-position: top center;
    background-size: 100% 608px;
}
.container-fluid{
    padding-left: 50px;
    padding-right: 50px;
}