@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
.bg-key {
  background-color: #653E6F;
}

.bg-gradient-1 {
  background: linear-gradient(to bottom, #BEBED0 0%, #BEBED0 23%, #E8B4AB 52%, #F4D3D6 100%);
  background-size: cover;
  display: block;
}

* {
  font-family: "Nunito Sans";
  font-optical-sizing: auto;
}

.text-key {
  color: #653E6F;
}

.text-dark {
  color: #323232 !important;
}

.btn-key {
  background-image: linear-gradient(to bottom, #653E6F, deeppink);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2f0f3;
  text-align: center;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 1em;
  width: 400px;
  transition: all ease 0.8s;
  letter-spacing: 3%;
}
.btn-key:hover {
  background-image: linear-gradient(to bottom, deeppink, #653E6F);
  color: black;
}
@media (width <= 419px) {
  .btn-key {
    width: 320px;
  }
}

body {
  background: url(../../img/bg-header.png) no-repeat;
  background-position: top center;
  background-size: 100% 608px;
}

.container-fluid {
  padding-left: 50px;
  padding-right: 50px;
}

header.jumbotron {
  height: 498px !important;
}
header.jumbotron img {
  transform: translate(6vw, 30px);
}

#sobre-mi img {
  transform: translateX(-50px);
  width: 100%;
}

.video-banner {
  position: relative;
  width: 100%;
  height: auto;
}
.video-banner video {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: auto;
}
.video-banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 192, 203, 0.5);
  z-index: 2;
  width: 100%;
  height: 100%;
}

.libros {
  background-color: pink;
}
.libros a:not(.btn-key) {
  color: deeppink;
  text-decoration: none;
  font-weight: 800;
}

.talleres .card {
  background-color: rgba(244, 211, 214, 0.3);
}
.talleres .card .btn-key {
  width: 200px;
  background: none;
  border: solid 1px deeppink;
  color: deeppink;
}
.talleres .card .btn-key:hover {
  background-color: deeppink;
  color: white;
  border: none;
  transition: all ease 0.5s;
}

.faqs {
  background: url(../../img/pattern.png);
}
.faqs .accordion .accordion-item {
  background-color: transparent !important;
}
.faqs .accordion .accordion-item .accordion-button {
  background-color: transparent !important;
}

.testimonios .carousel-item .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.testimonios .carousel-item {
  text-align: center;
  padding: 20px;
}
.testimonios .carousel figure {
  color: #653E6F;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-right: 10px;
  border-radius: 8px;
  min-height: 400px;
}
.testimonios .carousel figure p {
  display: -webkit-box;
  height: 180px;
  font-size: 0.9em;
}
.testimonios .carousel figure img {
  border-radius: 50%;
  width: 100px !important;
  height: 100px;
  margin-top: 5px;
}
.testimonios .carousel figure svg {
  margin-right: 4px;
  fill: yellow;
}
.testimonios .carousel figure figcaption {
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.2em;
}
.testimonios .carousel .carousel-indicators {
  bottom: -10px;
}
.testimonios .carousel .carousel-indicators button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: deeppink;
}
.testimonios .carousel .carousel-control-next-icon {
  background-image: url(../../img/arrow-right-circle-fill.svg);
}
.testimonios .carousel .carousel-control-prev-icon {
  background-image: url(../../img/arrow-left-circle-fill.svg);
}

.contacto {
  background: url(../../img/bg-footer.png) no-repeat top center;
  background-size: cover;
}
.contacto div.d-flex {
  width: 300px;
}

.wa {
  width: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

@media (width <= 768px) {
  body {
    background-size: auto 100vh;
  }
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
  nav .navbar-brand img {
    width: 170px;
  }
  body {
    background-image: none;
    background-color: #F4D3D6 !important;
  }
  header {
    text-align: center;
  }
  header.jumbotron {
    height: 95vh !important;
  }
  header.jumbotron img {
    transform: none !important;
  }
  header a.btn-key {
    width: 100%;
    font-size: 0.8em;
  }
  main {
    background-color: white;
  }
  #curso-diosas {
    text-align: center;
  }
  #curso-diosas img {
    transform: none !important;
    width: 100%;
  }
  #curso-diosas .btn-key {
    display: block;
    width: 100%;
  }
  #sobre-mi {
    text-align: center;
  }
  #sobre-mi img {
    transform: none;
    width: 100%;
    margin-top: 20px;
  }
  .video-banner .overlay {
    padding-left: 20px;
    padding-right: 20px;
  }
  .libros {
    text-align: center;
  }
  .libros img {
    width: 100%;
  }
  .testimonios .carousel-item .row .col-md-6 figure {
    width: 100% !important;
    transform: translate(-45vw, 0);
  }
  .testimonios .carousel-item .row .col-md-6 figure p {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .talleres {
    text-align: center !important;
  }
  .talleres .btn-key {
    margin: auto;
  }
}

/*# sourceMappingURL=main.css.map */
